body{
    margin: 0;
    overflow-x: hidden;
    font-family: "Trirong";
    background-color:rgba(0, 0, 0, 0.664);
}

body, html{
    height: 100%;
}

header{
    background-color: #35424af8;
}

header h1{
    text-align: center;
    color: white;
    margin: 0;
    padding: 0.9rem;
    font-size: 2rem;
}

.projects ul{
    white-space: nowrap;
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0;
    background-color:hsla(180, 1%, 86%, 0.767);
}

.projects li{
    display: inline-block;
    width: 25%;
    text-align: center;
}

.projects a{
    text-decoration: none;
    font-size: 1rem;
    padding: 15px;
    font-weight: bold;
    color: rgb(14, 17, 17);
}

.videos{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.demoTitles{
    margin:0;
    padding: 10px;
    border: 10px;
    color: white;
    text-align: center;
    font-size: 1.4rem;
}

.demo1-container{
    width: 80%;
}

.demo1{
    width: 100%;
}

.demo2-container{
    width: 80%;
}

.demo2{
    width: 100%;
}

.projects a:hover{
    background-color: rgb(171, 217, 228);
}
